extends layout
 
block content
  h1= title
 
  -let items = results
  a(class="btn btn-dark" href="/Furniture/create") Create
  br
  br
  .container-fluid
      for result, index in results
        - let destination = `dispatch("/Furniture/update?id=${result._id}")`
        .col-m-2(onclick=`buy(${index})`)
          div
            div.row
              div(class='furnitureAttr mr-3') Furniture ID is: #{result._id}
            div.row
              div(class='furnitureAttr mr-3') Furniture Name is: #{result.furniture_name}
            div.row
              div(class='furnitureAttr mr-3') Furniture Specification is: #{result.furniture_specification}
            div.row
              div(class='furnitureAttr mr-3') Furniture Cost is: #{result.furniture_cost}
            br
        button.btn(class="btn btn-primary", onclick= destination) Update
        a(class="btn btn-danger" href=`/Furniture/delete?id=${result._id}`) Delete
        a(class="btn btn-success" href=`/Furniture/detail?id=${result._id}`) Details
        br
        br 
 
  script.
    function buy(index) {
      alert(`You purchased item ${index + 1}`);
    }
    function dispatch(path) {
      window.location.href = path;
    }